body {
    background-color:white;
    padding:50px 0px 0px 0px;
}

@media (min-width: 768px) {
    .sidebar {
        background: #333;
        width: 200px;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
}

.content {
  display: block;
  overflow: hidden;
  width: auto;
}

.sidebar {
  display: block;
  float: left;
  width: 200px;
  background: #333;
}


.sidebar-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  background-image: linear-gradient(to right, #333333 10px, #222222 10px);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav ul li,
.sidebar-nav ul a {
  display: block;
}
.sidebar-nav ul a i {
    width:18px;
}

.sidebar-nav ul a {
  padding: 10px 20px;
  color: #aaa;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-nav ul a:hover,
.sidebar-nav ul a:focus,
.sidebar-nav ul a:active {
  color: #ddd;
  text-decoration: none;
}
.sidebar-nav ul ul a {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul ul a:hover,
.sidebar-nav ul ul a:focus,
.sidebar-nav ul ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav ul ul a.selected {
  color:#fff;
  background-color: rgba(255, 255, 255, 0.22);
}
.sidebar-nav ul ul a.selected i {
    color:darkorange;
}
.sidebar-nav ul li a {
    display:inline-block;
    white-space:nowrap;
    width:100%;
}
.sidebar-nav ul li span {
    display:inline-block;
    white-space:nowrap;
}

.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
  white-space:nowrap;
  display:inline-block;
}

a.navbar-brand {
    position:absolute;z-index:-1;
    padding:2px 10px;
    height:100%;
}
    a.navbar-brand h1 {
        text-shadow: 1px 1px 2px black;
    }
    a.navbar-brand span:first-child {
        color:white;
    }
    a.navbar-brand span:nth-child(2) {
        color:deepskyblue !important;
    }
    a.navbar-brand span:nth-child(3) {
        font-size: 50% !important;
        padding-left:2px;
        color:silver;
    }

.main{
    /*padding:50px 20px 100px 20px;*/
    /*
    padding:0px;
    margin:0px;
    */
}

.cursorize {
    cursor:pointer !important;cursor:hand !important;
}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

input.form-control, select.form-control {
    /*min-width:200px;*/
}
input[type='checkbox'] {
    margin-top:0px;
    cursor:hand;cursor:pointer;
}

/*Esto fastidia la zona izquierda de lsa col-md-x */
button:not(.navbar-toggle) {
    /*min-width:120px;*/ /*Fucks the close modal dialog button width */
}

/*BS-CALLOUT -----------------------------------------------------------------*/
/* Base styles (regardless of theme) */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
 
.bs-callout h4 {
    margin-top: 0;
}
 
.bs-callout p:last-child {
    margin-bottom: 0;
}
 
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
 
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
 
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}
 
.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
    color: #B94A48;
}
 
.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
    color: #C09853;
}
 
.bs-callout-info h4,
.bs-callout-info a.alert-link {
    color: #3A87AD;
}
 
.bs-callout a.alert-link {
    font-weight: bold;
}


/*DATATABLES OVERRIDE --------------------------------------------------------*/
table.dataTable tbody td {
    cursor:pointer;cursor:hand;
}
/*SEARCH ON LEFT / LENGTH ON RIGHT: INIT*/
div.dataTables_wrapper div.row:nth-child(1) > div:first-child {
    float:right !important;
}
div.dataTables_wrapper div.row:nth-child(1) > div:nth-child(2) {
    float:left;
}
div.dataTables_length {
    float:right !important;
}
div.dataTables_length select {
    /*font-size:14px;*/
}
div.dataTables_filter {
    float:left !important;
    width:100%;
}
div.dataTables_filter label {
    width:100%;
}
div.dataTables_filter input {
    /*font-size:14px;*/
    z-index: 0 !important;  /* Dropdown menu bugfix */
    float:left;
    margin-right:5px;
    /*min-width:300px;*/
    width:100% !important;
}
/*SEARCH ON LEFT / LENGTH ON RIGHT: END*/
/*dataTables 1.10.2 style bug!!!*/
div.dataTables_paginate ul.pagination li {
    background:transparent !important;
    border:0px none !important;
    padding:0px !important;
    margin:0px !important;
}
div.dataTable-container {
    display:none;
}

/*SELECTIZE OVERRIDE*/
div.selectize-control { display: inline-block; }



/*SAPPF FRAMEWORK ------------------------------------------------------------*/

/*TOOLBAR + CONTENT*/
/*Modo inline*/
/*
div.sappf-toolbar {
    border-bottom:1px solid #eeeeee;
    padding:4px 0px 4px 0px;
}
div.sappf-content {
    display:inline-block;
    width:100%;
    margin:0px 0px 50px 0px;
}
*/
/*Modo fixed*/

div.sappf-toolbar-overlay {
    height:42px;
    border-bottom:1px solid #ddd;
    background-color:white;
    padding:4px 0px 4px 0px;
    position:fixed;top:50px;
    width:100%;
    z-index:1;
    opacity:0.8;
}
@media (min-width: 768px) {
    div.sappf-toolbar {
        left:200px !important;
    }
}
div.sappf-toolbar {
    padding:4px;
    position:fixed;left:0px;top:50px;right:0px;
    z-index:999;
}
span.sappf-toolbar-separator {
    display:inline-block;
    width:20px;
}
div.sappf-toolbar button {
    min-width:120px;
}
@media (min-width: 768px) {
    div.sappf-content {
        margin-left:200px !important;
    }
}
.sappf-page-header {
    display:block;
}
div.sappf-content {
    /*background:orange;*/
    padding:50px 20px 50px 20px;
}
div.sappf-subcontent {
    /*background:yellow;*/
    margin:0px 0px 0px 0px;
}

i.sappf-entity-icon {
    color: #dde;
    /*font-size:64px;*/
}
i.sappf-entity-icon-md {
    font-size:48px;
}
i.sappf-entity-icon-big {
    color: #dde;
    font-size:150px;
}
img.sappf-entity-img {
    min-width:60px;width:60px;
}
img.sappf-entity-img-big {
    min-width:150px;width:150px;
}
input.sappf-search {
    border-right:0px none;
}
div.sappf-search {
    background:transparent;
    width:50px !important;
}
i.sappf-search {
    color:orange;
}

table.sappf-blisterplan tbody td {
    border:1px solid silver !important;
}

table.sappf-dosifcalendar {
    text-align:center;display:inline-block;margin:0px 10px 10px 0px;vertical-align:top;
    width:auto;
}
table.sappf-dosifcalendar thead th, table.sappf-dosifcalendar tbody td {
    padding:2px 2px 2px 8px;
    width:30px;
}
table.sappf-dosifcalendar tbody td:first-child {
    width:60px;
}

/*POSOLOGY*/
input.posologydosagename {
    min-width:100px !important;
}
input.posologyvalue, select.posologyvalue {
    display:inline;
    padding:0px;
    min-width:55px !important;
    height:25px;
    text-align:center;
}
select.posologyvalueconfig {
    display:inline;
    padding:0px;
    min-width:55px !important;
}
table.posology {
    padding:0px !important;
    margin:0px !important;
    width:100%;
}
table.posology td {
    border:2px solid #ddd;
}
table.posology td.checked {
    border:5px solid red;
}
td.posologycontentrow {
    width:100%;
}

/*LED COLORS*/
table tr.ledB, table tr td.ledB, table tr td input.ledB, table tr td select.ledB, input.ledB {
    /*font-weight:bold;*/
    background:#77d5f7 !important;border-color:dodgerblue !important; color: midnightblue !important;
    background: -webkit-gradient(linear,left top,left bottom,from(paleturquoise), to(deepskyblue)) !important;
    background: -moz-linear-gradient(top,paleturquoise,deepskyblue) !important;
}
table tr td input.ledB:active, table tr td input.ledB:hover, table tr td select.ledB:hover {
    border-color:#4297d7 !important;
}
table tr.ledG, table tr td.ledG, table tr td input.ledG, td.ledG, input.ledG {
    /*font-weight:bold;*/
    background:lime !important;border-color:green !important;color:#004400 !important;
    background: -webkit-gradient(linear,left top,left bottom,from(#C8FFB4), to(#2BD600)) !important;
    background: -moz-linear-gradient(top,#C8FFB4,#2BD600) !important;
}

table tr.ledR, table tr td.ledR, table tr td input.ledR, td.ledR, input.ledR {
    /*font-weight:bold;*/
    background:red !important;border-color:maroon !important;color:darkRed !important;
    background: -webkit-gradient(linear,left top,left bottom,from(orange), to(red)) !important;
    background: -moz-linear-gradient(top,orange,red) !important;
}

table tr.ledY, table tr td.ledY, table tr td input.ledY, td.ledY, input.ledY {
    /*font-weight:bold;*/
    background:orange !important;border-color:darkorange !important;color:red !important;
    background: -webkit-gradient(linear,left top,left bottom,from(yellow), to(darkOrange)) !important;
    background: -moz-linear-gradient(top,yellow,darkOrange) !important;
}

table.posology thead, table.posology thead tr { height:25px; padding:2px; }
table.posology tr, table.posology tr td { padding:2px !important; }

table.posology tr td input.ledB:active, table.posology tr td input.ledB:hover, table.posology tr td select.ledB:hover {
    border-color:#4297d7 !important;
}
table.posology tr.ledG, table.posology tr td.ledG, table.posology tr td input.ledG, td.ledG, input.ledG {
    /*font-weight:bold;*/
    background:lime !important;border-color:green !important;color:#004400 !important;
    background: -webkit-gradient(linear,left top,left bottom,from(#C8FFB4), to(#2BD600)) !important;
    background: -moz-linear-gradient(top,#C8FFB4,#2BD600) !important;
}

table.posology tr.ledR, table.posology tr td.ledR, table.posology tr td input.ledR, td.ledR, input.ledR {
    /*font-weight:bold;*/
    background:red !important;border-color:maroon !important;color:darkRed !important;
    background: -webkit-gradient(linear,left top,left bottom,from(orange), to(red)) !important;
    background: -moz-linear-gradient(top,orange,red) !important;
}

/*POSOGRID*/
a.dosageproductlink, span.dosageproductlink {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:6px 6px 8px 15px;display:block;border-bottom:1px dotted gray;text-decoration:none;font-weight: bold;font-size:14px;
    margin:0px 0px 2px 0px;
}
a.dosageproductlink {
    color:blue;
}
span.dosageproductlink {
    color:black;
}




.sappf-corporate
{
    font-family: Segoe UI,Arial,sans-serif !important;
    font-weight:bold;
    margin:0px;padding:0px;border:0px;
    text-shadow: 1px 1px 3px #333;
}
    .sappf-corporate:hover {
        text-shadow: 1px 1px 1px black, 0px 0px 30px white;
    }
    .sappf-corporate span:first-child {
        color:white;
    }
    .sappf-corporate span:nth-child(2) {
        color:deepskyblue !important;
    }
    .sappf-corporate span:nth-child(3) {
        font-size: 50% !important;
        padding-left:2px;
        color:silver;
    }
    
    tr.tojsondata td {
        padding:0px !important;
    }    
